/* styles.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* background-color: #5ac3b0; */
}

header {
    color: #fff;
    background-color: black;
    box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
    text-align: center;
    padding: 1rem 0;
}

h1{
    background-color: #333;
    margin: 0px 55px 0px 55px;
    color: #f0f0f0;
    /* border: 1px solid #6a6d6d; */
    border-radius: 4px;
    font-size: 210%;
    font-weight: bolder;
    font-family: Verdana,sans-serif;
    /* background-color:#003366; */
}

.header-img{
    width: 1184px; ;
    height:300px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: rgba(252, 238, 238, 0.45) 0px 25px 20px -20px;
    padding:0.25rem 1rem 0rem 1rem ;
}

section{
    margin-bottom: 5px;
}
/* Basic styling for the navigation bar */
nav {
    color: #666;
    background-color: #e5e7eb;
    padding: 10px;
    margin: 0px 55px 0 55px;
    position: sticky;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}

li {
    display: inline;
    margin-right: 20px;   
}

a {
    text-decoration: none;
    /* color: #8ecae6; */
}

a:hover{
    /* color: #fec89a; */
    color: rgb(83, 254, 80);
}

.container {
    max-width: 800px;
    margin: 20 0 20 0;
    padding: 20px;
    text-align: center;

}

.candidate-list {
    list-style: none;
    padding: 0;
}

.candidate-list li {
    margin-bottom: 10px;
}

.intro h2 {
    color: #333; /* Dark text color */
    font-size: 24px; /* Larger font size for the heading */
    margin-bottom: 10px; /* Adding some space below the heading */
}

.intro p.welcome{
    font-family:'Gill Sans', 'Gill Sans MT', ;
    text-align: left;
} */

div.container p.alarm {
    /* color: #666; */
    color: rgb(254, 224, 224);
    background-color: tomato;
    background-size: 10px;
    background-repeat: no-repeat;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    place-self: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* section {
    margin-bottom: 20px;
} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    position:sticky;
}

.container {
    position: relative;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    height: inherit;
    width:auto;
    margin-right: 20px;
    margin-left: 8px;
    background-color: #f8fafc; /* Tailwind CSS bg-gray-100 */
    border: 1px solid #e5e7eb; /* Tailwind CSS border-gray-200 */
    border-radius: 0.5rem; /* Tailwind CSS rounded */
    padding: 1rem; /* Tailwind CSS p-4 */
}


.marquee-container {
    position: relative;
    height: calc(100% - 2rem); /* Adjust to leave space for the stationary text */
    overflow: hidden;
     background-color:#bff6c3;
}

.marquee {
    display: inline-block;
    position: absolute;
    padding-left: 100%;
    background-color:#bff6c3;
    animation: marquee 10s linear infinite;
}

ul li:hover{
    color: rgb(138, 4, 96);
}

@keyframes marquee {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-80%);
    }

}

.alarm {
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
  }
  .alarm:hover {--_p: 100%}

  .alarm {
    font-family: system-ui, sans-serif;
    cursor: pointer;
  }